# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.env.*
!.env.example
.venv/
.venv*/
venv/
venv*/
ENV/
env.bak/
env.ini/

# Terraform
.terraform/
*.tfstate*
*.tfvars
*.tfvars.json
!*.tfvars.example
.terraform.lock.hcl

# Testing & Scratch
scratch/
uploaded_files/
local_tester/sessions/
.tempmediaStorage/

# OS/IDEs
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Node dependencies and builds
node_modules/
dist/
.vite/

# ADK local state
.adk/

# Archives
*.tar.gz
*.zip
