GOOGLE_CLOUD_PROJECT=<GCP_PROJECT_ID>
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_GENAI_USE_VERTEXAI=True
PROJECT_ID=<GCP_PROJECT_ID>
PROJECT_NUMBER=<GCP_PROJECT_NUMBER>
GEMINI_ENTERPRISE_APP_ID=<DISCOVERY_ENGINE_APP_ID>
STORAGE_BUCKET="gs://careconnect-nav-canvas-assets-<GCP_PROJECT_ID>"
REASONING_ENGINE_ID="<YOUR_REASONING_ENGINE_ID>"
AUTH_PROFILE_ID="careconnect-navigator-canvas-auth-v2"
