GOOGLE_CLOUD_PROJECT=<GCP_PROJECT_ID>
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_GENAI_USE_VERTEXAI=True
PROJECT_ID=<GCP_PROJECT_ID>
GEMINI_ENTERPRISE_APP_ID=<DISCOVERY_ENGINE_APP_ID>
STORAGE_BUCKET="gs://<YOUR_DEPLOY_BUCKET>"
REASONING_ENGINE_ID="<YOUR_REASONING_ENGINE_ID>"
